#tab_output td {
    border: 1px solid brown;
    text-align: center;
    padding: 3px;
    height: 80px
}

#input_orario {
    float: right;
}

#tab_output td:not(.header_ora) {
    width: 10%
}

#tab_output {
    width: 80%;
}

.header_giorno, .header_ora {
    background-color: blanchedalmond;
}

.prof, .aula {
    font-style: italic;
    font-size: small;
}

#files input {
    display: block;
}

.div-vincoli {
    overflow: scroll;
    overflow-wrap: break-word;
}

.ui-dialog-titlebar-no-close {
    display: none;
}

.right {
    float: right;
}

.ui-dialog {
  position: fixed !important;
}

.ui-dialog-vincoli {
    overflow: scroll;
    max-height: 500px;
}